/*
 Partials
*/
a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none; }

._content-bg {
  background-color: #868686;
  padding: 20px; }

.page-title {
  border-bottom: 1px solid #d3d1d1;
  padding: 10px 0px;
  text-transform: uppercase;
  font-size: 25px; }

.-text-md {
  font-size: 25px; }

.-text-xl {
  font-size: 40px; }

.code {
  background-color: #F8F8F8;
  padding: 20px;
  margin: 10px;
  width: 700px;
  font-weight: bold; }
  .code .code {
    background-color: transparent !important;
    margin: 0px !important;
    padding: 5px 20px; }

._margin-left {
  margin-left: 20px; }

/*
  utils
*/
._upper-element {
  z-index: 999999;
  position: relative; }

._text-crimson {
  color: #b8150f; }

._text-jade {
  color: #4ca54c; }

._text-sky {
  color: #1f9ac0; }

._text-primary {
  color: #085492; }

._text-pumpkin {
  color: #ca7c0e; }

._text-snow {
  color: white; }

._spacer {
  margin-bottom: 10px; }

._spacer-sm {
  margin-bottom: 25px; }

._spacer-md {
  margin-bottom: 35px; }

._spacer-lg {
  margin-bottom: 45px; }

._text-center {
  text-align: center; }

._text-left {
  text-align: left; }

._text-right {
  text-align: right; }

._spacer {
  margin-bottom: 20px; }

._spacer-sm {
  margin-bottom: 30px; }

._spacer-md {
  margin-bottom: 50px; }

._spacer-lg {
  margin-bottom: 70px; }

/*
  UI
*/
.FullWidthLoading {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  color: #f0ad4e; }

.panel {
  border: 1px solid #cdcdcd;
  background: #fff; }
  .panel .header,
  .panel .body,
  .panel .footer {
    padding: 10px 15px; }
  .panel .body + .body {
    border-top: 1px solid #cdcdcd; }
  .panel .header {
    background: #F8F8F8;
    border-bottom: 1px solid #cdcdcd; }
  .panel .footer {
    background: #F8F8F8;
    border-top: 1px solid #cdcdcd; }

.slate {
  text-align: center;
  padding: 30px;
  background-color: #ffffff; }

.slate.-spacious {
  padding: 70px; }

.slate.-plain {
  background-color: transparent; }

.timeline-item {
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;
  margin: 0 auto;
  max-width: 472px;
  min-height: 200px; }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }
.animated-background {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeHolderShimmer;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative; }

.background-masker {
  background: #fff;
  position: absolute; }

/* Every thing below this is just positioning */
.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
  top: 0;
  left: 40px;
  right: 0;
  height: 10px; }

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
  top: 10px;
  left: 40px;
  height: 8px;
  width: 10px; }

.background-masker.header-bottom {
  top: 18px;
  height: 6px; }

.background-masker.subheader-left,
.background-masker.subheader-right {
  top: 24px;
  height: 6px; }

.background-masker.header-right,
.background-masker.subheader-right {
  width: auto;
  left: 300px;
  right: 0; }

.background-masker.subheader-right {
  left: 230px; }

.background-masker.subheader-bottom {
  top: 30px;
  height: 10px; }

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
  top: 40px;
  left: 0;
  right: 0;
  height: 6px; }

.background-masker.content-top {
  height: 20px; }

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end {
  width: auto;
  left: 380px;
  right: 0;
  top: 60px;
  height: 8px; }

.background-masker.content-second-line {
  top: 68px; }

.background-masker.content-second-end {
  left: 420px;
  top: 74px; }

.background-masker.content-third-line {
  top: 82px; }

.background-masker.content-third-end {
  left: 300px;
  top: 88px; }

.Wysiwyg-section {
  /**
  * Draft v0.9.1
  *
  * Copyright (c) 2013-present, Facebook, Inc.
  * All rights reserved.
  *
  * This source code is licensed under the BSD-style license found in the
  * LICENSE file in the root directory of this source tree. An additional grant
  * of patent rights can be found in the PATENTS file in the same directory.
  */
  /*# sourceMappingURL=react-draft-wysiwyg.css.map*/ }
  .Wysiwyg-section .wrapper-class,
  .Wysiwyg-section .editor-class {
    background: #ffff; }
  .Wysiwyg-section .rdw-editor-toolbar {
    background: #ebebeb !important;
    font-size: 12px !important; }
  .Wysiwyg-section .rdw-option-wrapper {
    border: none !important;
    padding: 3px !important;
    min-width: 30px !important;
    height: 28px !important;
    margin: 0 1px !important; }
  .Wysiwyg-section .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .Wysiwyg-section .RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px !important;
    padding: 35px !important; }
  .Wysiwyg-section .DraftEditor-editorContainer {
    min-height: 250px;
    overflow: hidden  !important; }
  .Wysiwyg-section .RichEditor-editor {
    border-top: none !important; }
  .Wysiwyg-section .rdw-colorpicker-modal {
    width: 300px !important;
    box-shadow: 1px 5px 20px #ddd !important;
    height: 200px !important; }
  .Wysiwyg-section .rdw-colorpicker-option {
    box-shadow: none !important; }
  .Wysiwyg-section .rdw-colorpicker-modal-options {
    overflow: auto !important; }
  .Wysiwyg-section .rdw-option-wrapper {
    border: 1px solid #F1F1F1;
    padding: 5px;
    min-width: 25px;
    height: 20px;
    border-radius: 2px;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
    text-transform: capitalize; }
  .Wysiwyg-section .rdw-option-wrapper:hover {
    box-shadow: 1px 1px 0px #BFBDBD; }
  .Wysiwyg-section .rdw-option-wrapper:active {
    box-shadow: 1px 1px 0px #BFBDBD inset; }
  .Wysiwyg-section .rdw-option-active {
    box-shadow: 1px 1px 0px #BFBDBD inset; }
  .Wysiwyg-section .rdw-option-disabled {
    opacity: 0.3;
    cursor: default; }
  .Wysiwyg-section .rdw-dropdown-wrapper {
    height: 30px;
    background: white;
    cursor: pointer;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    margin: 0 3px;
    text-transform: capitalize;
    background: white; }
  .Wysiwyg-section .rdw-dropdown-wrapper:focus {
    outline: none; }
  .Wysiwyg-section .rdw-dropdown-wrapper:hover {
    box-shadow: 1px 1px 0px #BFBDBD;
    background-color: #FFFFFF; }
  .Wysiwyg-section .rdw-dropdown-wrapper:active {
    box-shadow: 1px 1px 0px #BFBDBD inset; }
  .Wysiwyg-section .rdw-dropdown-carettoopen {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 35%;
    right: 10%;
    border-top: 6px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; }
  .Wysiwyg-section .rdw-dropdown-carettoclose {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 35%;
    right: 10%;
    border-bottom: 6px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; }
  .Wysiwyg-section .rdw-dropdown-selectedtext {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    padding: 0 5px; }
  .Wysiwyg-section .rdw-dropdown-optionwrapper {
    z-index: 100;
    position: relative;
    border: 1px solid #F1F1F1;
    width: 98%;
    background: white;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    max-height: 250px;
    overflow-y: scroll; }
  .Wysiwyg-section .rdw-dropdown-optionwrapper:hover {
    box-shadow: 1px 1px 0px #BFBDBD;
    background-color: #FFFFFF; }
  .Wysiwyg-section .rdw-dropdownoption-default {
    min-height: 25px;
    display: flex;
    align-items: center;
    padding: 0 5px; }
  .Wysiwyg-section .rdw-dropdownoption-highlighted {
    background: #F1F1F1; }
  .Wysiwyg-section .rdw-dropdownoption-active {
    background: #f5f5f5; }
  .Wysiwyg-section .rdw-dropdownoption-disabled {
    opacity: 0.3;
    cursor: default; }
  .Wysiwyg-section .rdw-inline-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px; }
  .Wysiwyg-section .rdw-inline-dropdown {
    width: 50px; }
  .Wysiwyg-section .rdw-inline-dropdownoption {
    height: 40px;
    display: flex;
    justify-content: center; }
  .Wysiwyg-section .rdw-block-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px; }
  .Wysiwyg-section .rdw-block-dropdown {
    width: 110px; }
  .Wysiwyg-section .rdw-fontsize-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px; }
  .Wysiwyg-section .rdw-fontsize-dropdown {
    min-width: 40px; }
  .Wysiwyg-section .rdw-fontsize-option {
    display: flex;
    justify-content: center; }
  .Wysiwyg-section .rdw-fontfamily-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px; }
  .Wysiwyg-section .rdw-fontfamily-dropdown {
    width: 115px; }
  .Wysiwyg-section .rdw-fontfamily-placeholder {
    white-space: nowrap;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .Wysiwyg-section .rdw-fontfamily-optionwrapper {
    width: 140px; }
  .Wysiwyg-section .rdw-list-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px; }
  .Wysiwyg-section .rdw-list-dropdown {
    width: 50px;
    z-index: 90; }
  .Wysiwyg-section .rdw-list-dropdownOption {
    height: 40px;
    display: flex;
    justify-content: center; }
  .Wysiwyg-section .rdw-text-align-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px; }
  .Wysiwyg-section .rdw-text-align-dropdown {
    width: 50px;
    z-index: 90; }
  .Wysiwyg-section .rdw-text-align-dropdownOption {
    height: 40px;
    display: flex;
    justify-content: center; }
  .Wysiwyg-section .rdw-right-aligned-block {
    text-align: right; }
  .Wysiwyg-section .rdw-left-aligned-block {
    text-align: left; }
  .Wysiwyg-section .rdw-center-aligned-block {
    text-align: center; }
  .Wysiwyg-section .rdw-justify-aligned-block {
    text-align: justify; }
  .Wysiwyg-section .rdw-right-aligned-block > div {
    display: inline-block; }
  .Wysiwyg-section .rdw-left-aligned-block > div {
    display: inline-block; }
  .Wysiwyg-section .rdw-center-aligned-block > div {
    display: inline-block; }
  .Wysiwyg-section .rdw-justify-aligned-block > div {
    display: inline-block; }
  .Wysiwyg-section .rdw-colorpicker-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative; }
  .Wysiwyg-section .rdw-colorpicker-modal {
    position: absolute;
    top: 35px;
    left: 5px;
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 175px;
    border: 1px solid #F1F1F1;
    padding: 15px;
    border-radius: 2px;
    z-index: 100;
    background: white;
    box-shadow: 3px 3px 5px #BFBDBD; }
  .Wysiwyg-section .rdw-colorpicker-modal-header {
    display: flex;
    padding-bottom: 5px; }
  .Wysiwyg-section .rdw-colorpicker-modal-style-label {
    font-size: 15px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    padding: 0 10px 5px; }
  .Wysiwyg-section .rdw-colorpicker-modal-style-label-active {
    border-bottom: 2px solid #0a66b7; }
  .Wysiwyg-section .rdw-colorpicker-modal-options {
    margin: 5px auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow: scroll; }
  .Wysiwyg-section .rdw-colorpicker-cube {
    width: 22px;
    height: 22px;
    border: 1px solid #F1F1F1; }
  .Wysiwyg-section .rdw-colorpicker-option {
    margin: 3px;
    padding: 0;
    min-height: 20px;
    border: none;
    width: 22px;
    height: 22px;
    min-width: 22px;
    box-shadow: 1px 2px 1px #BFBDBD inset; }
  .Wysiwyg-section .rdw-colorpicker-option:hover {
    box-shadow: 1px 2px 1px #BFBDBD; }
  .Wysiwyg-section .rdw-colorpicker-option:active {
    box-shadow: -1px -2px 1px #BFBDBD; }
  .Wysiwyg-section .rdw-colorpicker-option-active {
    box-shadow: 0px 0px 2px 2px #BFBDBD; }
  .Wysiwyg-section .rdw-link-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative; }
  .Wysiwyg-section .rdw-link-dropdown {
    width: 50px; }
  .Wysiwyg-section .rdw-link-dropdownOption {
    height: 40px;
    display: flex;
    justify-content: center; }
  .Wysiwyg-section .rdw-link-dropdownPlaceholder {
    margin-left: 8px; }
  .Wysiwyg-section .rdw-link-modal {
    position: absolute;
    top: 35px;
    left: 5px;
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 205px;
    border: 1px solid #F1F1F1;
    padding: 15px;
    border-radius: 2px;
    z-index: 100;
    background: white;
    box-shadow: 3px 3px 5px #BFBDBD; }
  .Wysiwyg-section .rdw-link-modal-label {
    font-size: 15px; }
  .Wysiwyg-section .rdw-link-modal-input {
    margin-top: 5px;
    border-radius: 2px;
    border: 1px solid #F1F1F1;
    height: 25px;
    margin-bottom: 15px;
    padding: 0 5px; }
  .Wysiwyg-section .rdw-link-modal-input:focus {
    outline: none; }
  .Wysiwyg-section .rdw-link-modal-buttonsection {
    margin: 0 auto; }
  .Wysiwyg-section .rdw-link-modal-target-option {
    margin-bottom: 20px; }
  .Wysiwyg-section .rdw-link-modal-target-option > span {
    margin-left: 5px; }
  .Wysiwyg-section .rdw-link-modal-btn {
    margin-left: 10px;
    width: 75px;
    height: 30px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    cursor: pointer;
    background: white;
    text-transform: capitalize; }
  .Wysiwyg-section .rdw-link-modal-btn:hover {
    box-shadow: 1px 1px 0px #BFBDBD; }
  .Wysiwyg-section .rdw-link-modal-btn:active {
    box-shadow: 1px 1px 0px #BFBDBD inset; }
  .Wysiwyg-section .rdw-link-modal-btn:focus {
    outline: none !important; }
  .Wysiwyg-section .rdw-link-modal-btn:disabled {
    background: #ece9e9; }
  .Wysiwyg-section .rdw-link-dropdownoption {
    height: 40px;
    display: flex;
    justify-content: center; }
  .Wysiwyg-section .rdw-history-dropdown {
    width: 50px; }
  .Wysiwyg-section .rdw-embedded-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative; }
  .Wysiwyg-section .rdw-embedded-modal {
    position: absolute;
    top: 35px;
    left: 5px;
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 180px;
    border: 1px solid #F1F1F1;
    padding: 15px;
    border-radius: 2px;
    z-index: 100;
    background: white;
    justify-content: space-between;
    box-shadow: 3px 3px 5px #BFBDBD; }
  .Wysiwyg-section .rdw-embedded-modal-header {
    font-size: 15px;
    display: flex; }
  .Wysiwyg-section .rdw-embedded-modal-header-option {
    width: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .Wysiwyg-section .rdw-embedded-modal-header-label {
    width: 95px;
    border: 1px solid #f1f1f1;
    margin-top: 5px;
    background: #6EB8D4;
    border-bottom: 2px solid #0a66b7; }
  .Wysiwyg-section .rdw-embedded-modal-link-section {
    display: flex;
    flex-direction: column; }
  .Wysiwyg-section .rdw-embedded-modal-link-input {
    width: 88%;
    height: 35px;
    margin: 10px 0;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 5px; }
  .Wysiwyg-section .rdw-embedded-modal-link-input-wrapper {
    display: flex;
    align-items: center; }
  .Wysiwyg-section .rdw-embedded-modal-link-input:focus {
    outline: none; }
  .Wysiwyg-section .rdw-embedded-modal-btn-section {
    display: flex;
    justify-content: center; }
  .Wysiwyg-section .rdw-embedded-modal-btn {
    margin: 0 3px;
    width: 75px;
    height: 30px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    cursor: pointer;
    background: white;
    text-transform: capitalize; }
  .Wysiwyg-section .rdw-embedded-modal-btn:hover {
    box-shadow: 1px 1px 0px #BFBDBD; }
  .Wysiwyg-section .rdw-embedded-modal-btn:active {
    box-shadow: 1px 1px 0px #BFBDBD inset; }
  .Wysiwyg-section .rdw-embedded-modal-btn:focus {
    outline: none !important; }
  .Wysiwyg-section .rdw-embedded-modal-btn:disabled {
    background: #ece9e9; }
  .Wysiwyg-section .rdw-embedded-modal-size {
    align-items: center;
    display: flex;
    margin: 8px 0;
    justify-content: space-between; }
  .Wysiwyg-section .rdw-embedded-modal-size-input {
    width: 80%;
    height: 20px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 12px; }
  .Wysiwyg-section .rdw-embedded-modal-size-input:focus {
    outline: none; }
  .Wysiwyg-section .rdw-emoji-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative; }
  .Wysiwyg-section .rdw-emoji-modal {
    overflow: auto;
    position: absolute;
    top: 35px;
    left: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 235px;
    height: 180px;
    border: 1px solid #F1F1F1;
    padding: 15px;
    border-radius: 2px;
    z-index: 100;
    background: white;
    box-shadow: 3px 3px 5px #BFBDBD; }
  .Wysiwyg-section .rdw-emoji-icon {
    margin: 2.5px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .Wysiwyg-section .rdw-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; }
  .Wysiwyg-section .rdw-spinner > div {
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
  .Wysiwyg-section .rdw-spinner .rdw-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .Wysiwyg-section .rdw-spinner .rdw-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
  .Wysiwyg-section .rdw-image-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative; }
  .Wysiwyg-section .rdw-image-modal {
    position: absolute;
    top: 35px;
    left: 5px;
    display: flex;
    flex-direction: column;
    width: 235px;
    border: 1px solid #F1F1F1;
    padding: 15px;
    border-radius: 2px;
    z-index: 100;
    background: white;
    box-shadow: 3px 3px 5px #BFBDBD; }
  .Wysiwyg-section .rdw-image-modal-header {
    font-size: 15px;
    margin: 10px 0;
    display: flex; }
  .Wysiwyg-section .rdw-image-modal-header-option {
    width: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .Wysiwyg-section .rdw-image-modal-header-label {
    width: 80px;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    margin-top: 5px; }
  .Wysiwyg-section .rdw-image-modal-header-label-highlighted {
    background: #6EB8D4;
    border-bottom: 2px solid #0a66b7; }
  .Wysiwyg-section .rdw-image-modal-upload-option {
    width: 100%;
    color: gray;
    cursor: pointer;
    display: flex;
    border: none;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    outline: 2px dashed gray;
    outline-offset: -10px;
    margin: 10px 0;
    padding: 9px 0; }
  .Wysiwyg-section .rdw-image-modal-upload-option-highlighted {
    outline: 2px dashed #0a66b7; }
  .Wysiwyg-section .rdw-image-modal-upload-option-label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px; }
  .Wysiwyg-section .rdw-image-modal-upload-option-label span {
    padding: 0 20px; }
  .Wysiwyg-section .rdw-image-modal-upload-option-image-preview {
    max-width: 100%;
    max-height: 200px; }
  .Wysiwyg-section .rdw-image-modal-upload-option-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .Wysiwyg-section .rdw-image-modal-url-section {
    display: flex;
    align-items: center; }
  .Wysiwyg-section .rdw-image-modal-url-input {
    width: 90%;
    height: 35px;
    margin: 15px 0 12px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 5px; }
  .Wysiwyg-section .rdw-image-modal-btn-section {
    margin: 10px auto 0; }
  .Wysiwyg-section .rdw-image-modal-url-input:focus {
    outline: none; }
  .Wysiwyg-section .rdw-image-modal-btn {
    margin: 0 5px;
    width: 75px;
    height: 30px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    cursor: pointer;
    background: white;
    text-transform: capitalize; }
  .Wysiwyg-section .rdw-image-modal-btn:hover {
    box-shadow: 1px 1px 0px #BFBDBD; }
  .Wysiwyg-section .rdw-image-modal-btn:active {
    box-shadow: 1px 1px 0px #BFBDBD inset; }
  .Wysiwyg-section .rdw-image-modal-btn:focus {
    outline: none !important; }
  .Wysiwyg-section .rdw-image-modal-btn:disabled {
    background: #ece9e9; }
  .Wysiwyg-section .rdw-image-modal-spinner {
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; }
  .Wysiwyg-section .rdw-image-modal-alt-input {
    width: 70%;
    height: 20px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 5px; }
  .Wysiwyg-section .rdw-image-modal-alt-input:focus {
    outline: none; }
  .Wysiwyg-section .rdw-image-modal-alt-lbl {
    font-size: 12px; }
  .Wysiwyg-section .rdw-image-modal-size {
    align-items: center;
    display: flex;
    margin: 8px 0;
    justify-content: space-between; }
  .Wysiwyg-section .rdw-image-modal-size-input {
    width: 40%;
    height: 20px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 12px; }
  .Wysiwyg-section .rdw-image-modal-size-input:focus {
    outline: none; }
  .Wysiwyg-section .rdw-image-mandatory-sign {
    color: red;
    margin-left: 3px;
    margin-right: 3px; }
  .Wysiwyg-section .rdw-remove-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative; }
  .Wysiwyg-section .rdw-history-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px; }
  .Wysiwyg-section .rdw-history-dropdownoption {
    height: 40px;
    display: flex;
    justify-content: center; }
  .Wysiwyg-section .rdw-history-dropdown {
    width: 50px; }
  .Wysiwyg-section .rdw-link-decorator-wrapper {
    position: relative; }
  .Wysiwyg-section .rdw-link-decorator-icon {
    position: absolute;
    left: 40%;
    top: 0;
    cursor: pointer;
    background-color: white; }
  .Wysiwyg-section .rdw-mention-link {
    text-decoration: none;
    color: #1236ff;
    background-color: #f0fbff;
    padding: 1px 2px;
    border-radius: 2px; }
  .Wysiwyg-section .rdw-suggestion-wrapper {
    position: relative; }
  .Wysiwyg-section .rdw-suggestion-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid #F1F1F1;
    min-width: 100px;
    max-height: 150px;
    overflow: auto;
    background: white;
    z-index: 100; }
  .Wysiwyg-section .rdw-suggestion-option {
    padding: 7px 5px;
    border-bottom: 1px solid #f1f1f1; }
  .Wysiwyg-section .rdw-suggestion-option-active {
    background-color: #F1F1F1; }
  .Wysiwyg-section .rdw-hashtag-link {
    text-decoration: none;
    color: #1236ff;
    background-color: #f0fbff;
    padding: 1px 2px;
    border-radius: 2px; }
  .Wysiwyg-section .rdw-image-alignment-options-popup {
    position: absolute;
    background: white;
    display: flex;
    padding: 5px 2px;
    border-radius: 2px;
    border: 1px solid #F1F1F1;
    width: 105px;
    cursor: pointer;
    z-index: 100; }
  .Wysiwyg-section .rdw-alignment-option-left {
    justify-content: flex-start; }
  .Wysiwyg-section .rdw-image-alignment-option {
    height: 15px;
    width: 15px;
    min-width: 15px; }
  .Wysiwyg-section .rdw-image-alignment {
    position: relative; }
  .Wysiwyg-section .rdw-image-imagewrapper {
    position: relative; }
  .Wysiwyg-section .rdw-image-center {
    display: flex;
    justify-content: center; }
  .Wysiwyg-section .rdw-image-left {
    display: flex; }
  .Wysiwyg-section .rdw-image-right {
    display: flex;
    justify-content: flex-end; }
  .Wysiwyg-section .rdw-image-alignment-options-popup-right {
    right: 0; }
  .Wysiwyg-section .rdw-editor-main {
    height: 100%;
    overflow: auto;
    box-sizing: border-box; }
  .Wysiwyg-section .rdw-editor-toolbar {
    padding: 6px 5px 0;
    border-radius: 2px;
    border: 1px solid #F1F1F1;
    display: flex;
    justify-content: flex-start;
    background: white;
    flex-wrap: wrap;
    font-size: 15px;
    margin-bottom: 5px;
    user-select: none; }
  .Wysiwyg-section .public-DraftStyleDefault-block {
    margin: 1em 0; }
  .Wysiwyg-section .rdw-editor-wrapper:focus {
    outline: none; }
  .Wysiwyg-section .rdw-editor-wrapper {
    box-sizing: content-box; }
  .Wysiwyg-section .rdw-editor-main blockquote {
    border-left: 5px solid #f1f1f1;
    padding-left: 5px; }
  .Wysiwyg-section .rdw-editor-main pre {
    background: #f1f1f1;
    border-radius: 3px;
    padding: 1px 10px; }
  .Wysiwyg-section .DraftEditor-editorContainer, .Wysiwyg-section .DraftEditor-root, .Wysiwyg-section .public-DraftEditor-content {
    height: inherit;
    text-align: initial; }
  .Wysiwyg-section .public-DraftEditor-content[contenteditable=true] {
    -webkit-user-modify: read-write-plaintext-only; }
  .Wysiwyg-section .DraftEditor-root {
    position: relative; }
  .Wysiwyg-section .DraftEditor-editorContainer {
    background-color: rgba(255, 255, 255, 0);
    border-left: .1px solid transparent;
    position: relative;
    z-index: 1; }
  .Wysiwyg-section .public-DraftEditor-block {
    position: relative; }
  .Wysiwyg-section .DraftEditor-alignLeft .public-DraftStyleDefault-block {
    text-align: left; }
  .Wysiwyg-section .DraftEditor-alignLeft .public-DraftEditorPlaceholder-root {
    left: 0;
    text-align: left; }
  .Wysiwyg-section .DraftEditor-alignCenter .public-DraftStyleDefault-block {
    text-align: center; }
  .Wysiwyg-section .DraftEditor-alignCenter .public-DraftEditorPlaceholder-root {
    margin: 0 auto;
    text-align: center;
    width: 100%; }
  .Wysiwyg-section .DraftEditor-alignRight .public-DraftStyleDefault-block {
    text-align: right; }
  .Wysiwyg-section .DraftEditor-alignRight .public-DraftEditorPlaceholder-root {
    right: 0;
    text-align: right; }
  .Wysiwyg-section .public-DraftEditorPlaceholder-root {
    color: #9197a3;
    position: absolute;
    z-index: 0; }
  .Wysiwyg-section .public-DraftEditorPlaceholder-hasFocus {
    color: #bdc1c9; }
  .Wysiwyg-section .DraftEditorPlaceholder-hidden {
    display: none; }
  .Wysiwyg-section .public-DraftStyleDefault-block {
    position: relative;
    white-space: pre-wrap; }
  .Wysiwyg-section .public-DraftStyleDefault-ltr {
    direction: ltr;
    text-align: left; }
  .Wysiwyg-section .public-DraftStyleDefault-rtl {
    direction: rtl;
    text-align: right; }
  .Wysiwyg-section .public-DraftStyleDefault-listLTR {
    direction: ltr; }
  .Wysiwyg-section .public-DraftStyleDefault-listRTL {
    direction: rtl; }
  .Wysiwyg-section .public-DraftStyleDefault-ol, .Wysiwyg-section .public-DraftStyleDefault-ul {
    margin: 16px 0;
    padding: 0; }
  .Wysiwyg-section .public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR {
    margin-left: 1.5em; }
  .Wysiwyg-section .public-DraftStyleDefault-depth0.public-DraftStyleDefault-listRTL {
    margin-right: 1.5em; }
  .Wysiwyg-section .public-DraftStyleDefault-depth1.public-DraftStyleDefault-listLTR {
    margin-left: 3em; }
  .Wysiwyg-section .public-DraftStyleDefault-depth1.public-DraftStyleDefault-listRTL {
    margin-right: 3em; }
  .Wysiwyg-section .public-DraftStyleDefault-depth2.public-DraftStyleDefault-listLTR {
    margin-left: 4.5em; }
  .Wysiwyg-section .public-DraftStyleDefault-depth2.public-DraftStyleDefault-listRTL {
    margin-right: 4.5em; }
  .Wysiwyg-section .public-DraftStyleDefault-depth3.public-DraftStyleDefault-listLTR {
    margin-left: 6em; }
  .Wysiwyg-section .public-DraftStyleDefault-depth3.public-DraftStyleDefault-listRTL {
    margin-right: 6em; }
  .Wysiwyg-section .public-DraftStyleDefault-depth4.public-DraftStyleDefault-listLTR {
    margin-left: 7.5em; }
  .Wysiwyg-section .public-DraftStyleDefault-depth4.public-DraftStyleDefault-listRTL {
    margin-right: 7.5em; }
  .Wysiwyg-section .public-DraftStyleDefault-unorderedListItem {
    list-style-type: square;
    position: relative; }
  .Wysiwyg-section .public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth0 {
    list-style-type: disc; }
  .Wysiwyg-section .public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth1 {
    list-style-type: circle; }
  .Wysiwyg-section .public-DraftStyleDefault-orderedListItem {
    list-style-type: none;
    position: relative; }
  .Wysiwyg-section .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR:before {
    left: -36px;
    position: absolute;
    text-align: right;
    width: 30px; }
  .Wysiwyg-section .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listRTL:before {
    position: absolute;
    right: -36px;
    text-align: left;
    width: 30px; }
  .Wysiwyg-section .public-DraftStyleDefault-orderedListItem:before {
    content: counter(ol0) ". ";
    counter-increment: ol0; }
  .Wysiwyg-section .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth1:before {
    content: counter(ol1) ". ";
    counter-increment: ol1; }
  .Wysiwyg-section .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth2:before {
    content: counter(ol2) ". ";
    counter-increment: ol2; }
  .Wysiwyg-section .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth3:before {
    content: counter(ol3) ". ";
    counter-increment: ol3; }
  .Wysiwyg-section .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth4:before {
    content: counter(ol4) ". ";
    counter-increment: ol4; }
  .Wysiwyg-section .public-DraftStyleDefault-depth0.public-DraftStyleDefault-reset {
    counter-reset: ol0; }
  .Wysiwyg-section .public-DraftStyleDefault-depth1.public-DraftStyleDefault-reset {
    counter-reset: ol1; }
  .Wysiwyg-section .public-DraftStyleDefault-depth2.public-DraftStyleDefault-reset {
    counter-reset: ol2; }
  .Wysiwyg-section .public-DraftStyleDefault-depth3.public-DraftStyleDefault-reset {
    counter-reset: ol3; }
  .Wysiwyg-section .public-DraftStyleDefault-depth4.public-DraftStyleDefault-reset {
    counter-reset: ol4; }

/*# sourceMappingURL=main.css.map */
