._upper-element {
  z-index: 999999;
  position: relative;
}

._text-crimson {
  color: $crimson-darker;
}

._text-jade {
  color: $jade-darker;
}

._text-sky {
  color: $sky-darker;
}

._text-primary {
  color: $primary;
}

._text-pumpkin {
  color: $pumpkin-darker;
}

._text-snow {
  color: rgb(255, 255, 255);
}

._spacer {
  margin-bottom: 10px;
}

._spacer-sm {
  margin-bottom: 25px;
}

._spacer-md {
  margin-bottom: 35px;
}

._spacer-lg {
  margin-bottom: 45px;
}

._text-center {
  text-align: center;
}

._text-left {
  text-align: left;
}

._text-right {
  text-align: right;
}

._spacer {
  margin-bottom: 20px;
}

._spacer-sm {
  margin-bottom: 30px;
}

._spacer-md {
  margin-bottom: 50px;
}

._spacer-lg {
  margin-bottom: 70px;
}
