$primary: #085492;
$primary-light: #0c80de;
$primary-lighter: #2c8ddd;
$primary-dark: #0a6bb9;
$primary-darker: #064f8b;

$jade: #33cc33;
$jade-light: #8cc160;
$jade-lighter: #a2c585;
$jade-dark: #78bd78;
$jade-darker: #4ca54c;

$pumpkin: #f0ad4e;
$pumpkin-light: #e4b370;
$pumpkin-lighter: #dabb8f;
$pumpkin-dark: #df942b;
$pumpkin-darker: #ca7c0e;

$crimson: #d9534f;
$crimson-light: #d16a67;
$crimson-lighter: #cf8785;
$crimson-dark: #d6403b;
$crimson-darker: #b8150f;

$sky: #5bc0de;
$sky-light: #62bcd8;
$sky-lighter: #84c3d6;
$sky-dark: #3cb6db;
$sky-darker: #1f9ac0;

$ash: rgb(163, 163, 163);
$ash-light: #cdcdcd;
$ash-lighter: #F8F8F8;
$ash-dark: rgb(134, 134, 134);
$ash-darker: rgb(100, 100, 100);
